.barra-0 {
  width: 0%;
  height: 10px;
  background-color: red;
}

.barra-1 {
  width: 25%;
  height: 10px;
  background-color: red;
}

.barra-2 {
  width: 50%;
  height: 10px;
  background-color: yellow;
}

.barra-3 {
  width: 75%;
  height: 10px;
  background-color: blue;
}

.barra-4 {
  width: 100%;
  height: 10px;
  background-color: green;
}